.container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: var(--padding);
    align-items: start;
    width: 80%;
}

.mainBlock {
    display: flex;
    flex-direction: column;
    gap: var(--padding-small);
}

.imgContainer {
    overflow: hidden;
    padding: 0 var(--padding);
 
    font-size: 0;
    height: 70vh;
    max-height: 350px;
    width: auto;
    max-width: 350px;
    justify-self: center;
}

.img {
    height: 100%;
    width: auto;
    object-fit: cover;
    border-radius: 10px;
}

.tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    color: var(--nav-color);
    font-size: 26px;
    line-height: 110%;
}

.list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: var(--padding-small);
}


@media (max-width: 1200px) {
    .list {   
        grid-template-columns: repeat(5, 1fr);     
    }    
}

@media (max-width: 1000px) {
    .list {   
        grid-template-columns: repeat(4, 1fr);        
    }    
}

@media (max-width: 920px) {
    .container {
        width: 100%;
    }

    .imgContainer {     
        padding: 0 var(--padding-small);
    }

    .list {   
        grid-template-columns: repeat(4, 1fr); 
        gap: var(--padding-small);    
    }    
}

@media (max-width: 860px) {
    .container {     
        grid-template-columns: 1fr 2fr;
    }

    .imgContainer { 
        height: auto;    
        padding: 0;
    }

}

@media (max-width: 520px) {
    .container {       
        grid-template-columns: 1fr;
        gap: var(--padding-small);  
        justify-items: center;
        gap: var(--padding);
    }  
    
    .imgContainer { 
        height: 100%;           
    }

    .list {   
        grid-template-columns: repeat(3, 1fr);    
    }   
}


