.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--padding);
    width: 100%;
    list-style: none;
}

.item {
    border-radius: 5px;
    overflow: hidden;
    font-size: 0;
    box-shadow: 5px 2px 10px 0 var(--decor-light-color);
  }  

.decor {
    box-shadow: 4px 4px 0 0 var(--decor-block-color),
                8px 8px 0 0 var(--decor-light-color),
                14px 12px 10px 0 var(--decor-light-color);;
}

@media (max-width: 1200px) {
    .list {      
        grid-template-columns: repeat(3, auto);
    }
}

@media (max-width: 860px) {
    .list {      
        grid-template-columns: repeat(2, auto);
        gap: var(--padding-small);
    }
}

@media (max-width: 520px) {
    .list {      
        grid-template-columns: repeat(1, auto);       
    }
}

