.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--padding);
    width: 100%;
    list-style: none;
}

.item {   
    font-size: 0;    
  }  


@media (max-width: 1200px) {
    .list {      
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 760px) {
    .list {      
        grid-template-columns: repeat(2, 1fr);
        gap: var(--padding-small);
    }
}

@media (max-width: 520px) {
    .list {      
       /*grid-template-columns: repeat(1, auto); */
       gap: 10px;  
    }
}

