.nav {    
    display: grid;
    grid-template-columns: 1fr   auto  1fr ; 
    align-items: center;
    justify-content: center;  
    padding: 16px 0;  
    height: 100%;  
    background: inherit;
    column-gap: 50px;
}

.list { 
    display: grid;
    grid-template-columns: repeat(3, auto); 
    gap: 10px 40px;   
}

.left {
    justify-self: end;
}

.right {
    justify-self: start;
}

.logoItem {
    grid-column: logoStart/ logoEnd;   
    grid-row: 1 / -1; 
    display: flex;
    margin: 0 auto;
}



@media (max-width: 1200px) {
    .list { 
        display: grid;
        grid-template-columns: repeat(3, auto); 
        column-gap: 30px;   
    }    

    .nav {
        column-gap: 40px;
    }
}

@media (max-width: 1000px) {
    .nav {
        column-gap: 30px;
    }

    .link {
        font-size: 20px;
    }
}

@media (max-width: 860px) {
    .nav {
        display: none;
    }
}