.button {
    padding: 6px 36px;
    border: 2px solid var(--button-color);
    border-radius: 5px;   
    font-size: 24px;
    line-height: 100%;
    font-weight: 600;
    color: var(--button-color);
    background-color: transparent;
    transition: background-color 0.4s ease-in-out, color 0.3s ease-in-out;
  }

  .link {
    display: inline-block;
  }
  
  /*.button--border-none {
    border: none;
  }*/
  
  .button:focus-visible {
    outline: none;
    background-color: var(--decor-light-color);
  }
  
  .button:hover {
    color: var(--text-color-light);
    background-color: var(--button-color);
  }
  
  .button:active {
    color: var(--text-color-light);
    background-color: var(--text-color);
  }
  
  @media (max-width: 520px) {
    .button {
      padding: 4px 24px;     
      border-radius: 5px;      
      font-size: 20px;
    }
  }
  