.properties {
  display: flex;
  flex-direction: column;
  gap: var(--padding-small);
  margin: 0;
  padding: var(--padding);
  list-style: none; 
  border-radius: 8px;
  border: 2px solid var(--nav-color);
}

.property {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: var(--padding-small);
}

.name {
  padding: 0;
  margin: 0;

  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  color: var(--text-color);
  justify-self: end;
  text-align: end;
}

.data {
  align-self: center;
}

.decor {
  font-size: 24px;
  font-weight: 400;
  line-height: 120%;
  color: var(--title-color);
}

.text {
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  color: var(--text-color);
}

@media (max-width: 1000px) {
  .properties {
    grid-row: 1 / 2;
    gap: 12px;
    padding: 0 var(--padding);    
    border: none;  
  }
}

@media (max-width: 860px) {
  .properties {
    gap: 8px;  
  }

  .property {   
    grid-template-columns: 1fr 2fr;
  }

}

@media (max-width: 760px) {  

  .properties {
    grid-row: 1 / 2;
    gap: 12px;
    padding: 0;  
  }

  .name {      
    font-size: 20px;  
  }

  .decor {
    font-size: 20px;
  }

  .text {
    font-size: 16px;
  }
}

@media (max-width: 520px) { 
  .illustration-info {
    padding: 0;
  }
}