.container {
    position: relative;
    width: 100%;
}

.wrapper {
    display:  flex;
    gap: 0 8px ;
    align-items: center;
}

@media (max-width: 860px) {
    .wrapper {        
        gap: 0 2px ;
    }
}
