/* global*/
:root {
  --nav-color: #5D3D35;
  --title-color: #8C633F;
  --background-color: #FFFFFF;
  --button-color: #432F1F;
  --decor-light-color:#CAB4A2;
  --decor-block-color: #F2E8DC;
  --decor-color: #70453A;
  --text-color: #3B2621;
  --text-color-light: #FFFFFF;
  --padding: 30px;
  --padding-small: 16px;
  --padding-medium: 46px;
  --padding-big: 60px;
  --padding-container: 32px;
  --padding-mobile-container: 16px;
  /*--decor-font: 'AdventPro_Expanded';
  --text-font: 'Roboto';*/
  --icon-color: var(--decor-light-color);
}
/*----------------------------------------*/
html {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body { 
  font-family: sans-serif;
  font-style: normal;
  background-color: var(--background-color);
  -webkit-tap-highlight-color: transparent;
}

/* glob */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn:focus-visible {
  outline: none;
}

.container {
  margin: 0 auto;
  max-width: 1290px;
  min-width: calc(320px - var(--padding-mobile-container) * 2);
  width: calc(100% - var(--padding-container) * 2);
}

.disable {
  display: none;
}
