.card {
    padding: var(--padding);
    border-radius: 8px;
    background-color: var(--decor-block-color);
  }

  @media (max-width: 520px) {  
    .card {
      padding: var(--padding-small);    
    }
  }  