
.nav {
    display: none;
}

@media (max-width: 860px) {
    .nav {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0;  
        height: 100%;      
    }

    .list {
        position: absolute;
        top: 100%;
        left: calc(-1 * var(--padding-mobile-container));
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 20px var(--padding-mobile-container) ;        
        width: calc(100% + var(--padding-mobile-container) * 2);
        height: calc(100vh - 100%);
        background-color: var(--background-color); 
    }
}