.list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: var(--padding);
    align-items: start;
    width: 80%;
}


@media (max-width: 920px) {
    .list {   
        grid-template-columns: repeat(4, 1fr); 
        gap: var(--padding-small);    
    }    
}

@media (max-width: 960px) {
    .list {   
        width: 90%;  
    }    
}

@media (max-width: 520px) {
    .list {   
        grid-template-columns: repeat(3, 1fr); 
        width: 100%;     
    }   
}


